In [1]:
import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [2]:
a=5
print("a",a,a,"dsfsdf")

a 5 5 dsfsdf

## python 연습
* print
* 연산
```print("a",a,a,"dsfsdf")```

```bash
pip install

In [3]:
x=input("입력해주세요:")
x

입력해주세요:

''

In [4]:
print(1+2)

3

In [5]:
5%2

1

In [6]:
type(x)

str

In [7]:
x=20
y=30
x+y

50

In [8]:
x=int(input("x값 입력:"))
y=int(input())
x+y

x값 입력:

ValueError: invalid literal for int() with base 10: ''

In [ ]:
x=input("x값 입력:")
y=input()
int(x+y)

In [9]:
import turtle as t

In [10]:
t.shape("turtle")

In [11]:
x=int(input())
y=int(input())
z=int(input())

x>65 and y>65 and z>65

ValueError: invalid literal for int() with base 10: ''

In [12]:
first = """ 닐리리
닐니릴
니니니니니"""

In [13]:
print(first)

 닐리리
닐니릴
니니니니니

In [14]:
name='계철'

In [15]:
print("I am "+name+"!")

I am 계철!

In [16]:
print("I am%-10s!" %name)

I am계철        !

In [17]:
f1,f2 = "apple","banana"

In [18]:
print("I like %s ,%s" %(f1,f2))

I like apple ,banana

In [19]:
n1, n2 = 3, 3.2323

In [20]:
type(n1)

int

In [21]:
print("n1 = %d , n2 = %f"%(n1,n2))

n1 = 3 , n2 = 3.232300

In [22]:
print("n1 = %d , n2 = %f"%(n1,n2))

n1 = 3 , n2 = 3.232300

In [23]:
str1 = input("아무 문자나 입력해주세요:")
print(str1.replace(" ",""))

아무 문자나 입력해주세요:

In [28]:
name = input("이름을 입력해 주세요")
score1 = int(input("첫번째 점수를 입력해 주세요"))
score2 = int(input("두번째 점수를 입력해 주세요"))
score3 = int(input("세번째 점수를 입력해 주세요"))
score = score1 + score2 + score3
print("저의 이름은 "+name+" 이고 총점은 ",score,"입니다")
print("저의 이름은 "+name+" 이고 총점은 %d 입니다" % (score1+score2+score3))
print("저의 이름은 {} 이고 총점은 {} 입니다".format(name,(score1+score2+score3)))

이름을 입력해 주세요조계철
첫번째 점수를 입력해 주세요10
두번째 점수를 입력해 주세요20
세번째 점수를 입력해 주세요30
저의 이름은 조계철 이고 총점은  60 입니다
저의 이름은 조계철 이고 총점은 60 입니다
저의 이름은 조계철 이고 총점은 60 입니다

In [30]:

print("저의 이름은 "+name+" 이고 총점은 "+score+"입니다")

TypeError: can only concatenate str (not "int") to str

In [29]:
type(score)

int

In [26]:
test = 1.0
str(test)

'1.0'

In [27]:
score =1000
print(str(score))

1000

In [31]:
ㄴㄴ=[1,2,3]

In [32]:
ㄴㄴ

[1, 2, 3]

In [33]:
한글도되네 = 1

In [34]:
한글도되네

1

In [36]:
a= [1,2,3,4,5,6,7]

In [37]:
a[5:-3]

[]

In [38]:
a[5:-2]

[]

In [39]:
a[5:-1]

[6]

In [40]:
a[5]

6

In [45]:
a=[1,2,3,4,5]
a[1:4]= ["a","b"]
a

[1, 'a', 'b', 5]

In [49]:
a=list(range(1,7))
a

[1, 2, 3, 4, 5, 6]

In [52]:
a=[1,2,3,4,5]
a.reverse()
a

[5, 4, 3, 2, 1]

In [53]:
a

[5, 4, 3, 2, 1]

In [56]:
a.reverse()

In [57]:
a

[5, 4, 3, 2, 1]

In [58]:
a.sort()

In [59]:
a

[1, 2, 3, 4, 5]

In [60]:
a=list(range(1,11))

In [61]:
10 in a

True

In [63]:
if (10 in a)
    print("야호")
else
    print("힝")

SyntaxError: invalid syntax (<ipython-input-63-c1623afe0876>, line 1)

In [84]:
num = int(input("숫자를 입력해주세요:"))
ary = list(range(2,num+1,2))
ary.append(num)

숫자를 입력해주세요:20

In [85]:
ary

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]